<h1> -~~~~~~-- edit task  page --~~~~~~- </h1>
  
  <%= form_for(@task) do |f| %>
   <%= f.label :title_fancy_description %>
   <%= f.text_field :title %>
   <%= f.label :details %>
   <%= f.text_field :details %>

<!--    <%= f.label :completed %>
   <%= f.number_field :completed %>
 -->   <%= f.submit %>
 <% end %>

 <p>
  <%= link_to "back - rails link", tasks_path %>
 </p>
